@import '../../assets/css/settings/colors';

.todo-container {
  h2 {
    color: $text;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 3px;
  }

  .box {
    margin: 25px 0;

    .todo-item:not(:last-child) {
      margin-bottom: 10px;
    }

    .empty {
      color: $text;
      font-size: 18px;
      font-weight: 600;
    }
  }
}
